#navigator {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  #main-menu {
    flex: 1;
  }
  
  #sub-menu {
    flex: 1;
  }
  
  #documentation {
    flex: 2;
  }
  
  #references {
    flex: 1;
  }
  
  #btn {
    width: 100%;
  }
  